/******************************************************/
/*                      geeral css       			  */	
/******************************************************/      
html,
body {
  box-sizing: border-box; 
  margin: 0 !important;
}
 body * {	
	box-sizing: inherit;
	-o-box-sizing:inherit;
	-moz-box-sizing:inherit;
}
.child-body {
	height: 100%;
    width: 100%; 
	display: flex;
	justify-content: center;
	align-items:  flex-end;
	overflow: hidden;
}
span , input:not(header > input) , button{
	cursor: pointer;
	outline: none;
}
.disabled{
	pointer-events: none;
}
/*******************************************************/
/*                      calculator       			   */	
/*******************************************************/
.calculator {
	display: grid;
	 background: #2f4f4f;
	 padding: 15px 10px;
	 height: 100%;
	 min-height: 100vh;
	 min-width: 100%;
	 grid-template-areas: 
	 			"header"
				"vals"
				"buttons"
				"buttons"
				"buttons"
				"footer";
	gap: 2rem;				
}
/*******************************************************/
/*                      header       			       */	
/*******************************************************/
.calculator header{
	grid-area: header;
	background: #204242;	
}
.calculator header input   {  
    display: block;
	border-radius: 5px;
	padding: 5px 0;
	width: 95%;
	margin:5px auto;
	font-size: 10.5rem;
	outline: none;
}
.off{
	background: #333;
}
.calculator header span {
	height: 70px;
	width: 140px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-self: end;
	font-size:2.5rem;
	font-weight: 600;
	color: #000;
	background: #fff;
	margin: 25px 0px 10px 10px;
}
/*******************************************************/
/*                  section and footer       	       */	
/*******************************************************/
.calculator section,
.calculator footer 
  {
  display: grid;
  grid-template-columns: repeat(4, 22%);
  padding-left: 5px;
  gap: 1rem;
  justify-content: center;
}
.calculator section.vals{
	grid-area: vals;
}
.calculator section.buttons{
	grid-area: buttons;
}
.calculator  input,
.calculator  button{

	font-style: italic;
	font-weight: 900;
	font-size: 2rem;
	border-radius: calc(20px + 1%);
	border: none;
}
footer {
	grid-area: footer;
}
.calculator footer input,
.calculator footer button {

  border-radius: 10%;
  max-height: 100px;
}
/***********************************************/
@media screen and (min-width: 720px) {
	.calculator  input,
	.calculator  button {
	  border-radius: 50px;
	}
  }
	
	


